<div class="card">
    <img src="https://plus.unsplash.com/premium_photo-1669638781649-5802d884acd5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="card image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center ml-3">Views - 100,233</small>

        <h5 class="mt-1">HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY</h5>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, reiciendis voluptas harum autem repellendus consequatur voluptatibus illum! Accusantium reprehenderit, alias excepturi aliquam mollitia distinctio id soluta ad aperiam voluptatibus expedita?</P>

        <small class="bg-light text-warning text-center ml-3">LAST UPDATED - SEP 20, 2022</small>
    </div>
</div>